[run]
source = events
branch = 0
omit =
    events/migrations/*
    events/tests/*
    events/settings/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
